.gallItemDiv {
  width: 20%;
  /* padding-bottom: 32%; Same as width, sets height */
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;
}

/* .imageDiv {
  width: 32%;
  padding-bottom: 32%;
  margin-bottom: 2%;
  position: relative;
} */

img {
  height: 300px;
  width: 300px;
}

.imgDescItem {
  height: 315px;
  width: 315px;
}

/* .MuiGrid-root {
  height: 450px;
  width: 450px;
} */